[Unit]
Description=Dstat
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/dstat -tcdnymp --output /tmp/dstat.csv
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
